extends base

block content
  main.main
    .user-view
      - const activeSection = 'manage-tours'
      include _accountNav

      .user-view__content
        .user-view__form-container.user-view__form-container--wide
          .admin-header
            h2.heading-secondary Manage Tours
            a.btn.btn--green.btn--small(href='/create-tour') + New Tour
          if !tours || tours.length === 0
            p.no-results No tours found.
          else
            .admin-table-wrap
              table.admin-table.admin-table--tours
                thead
                  tr
                    th Image
                    th Name
                    th Price
                    th Difficulty
                    th Rating
                    th Actions
                tbody
                  each tour in tours
                    tr(class=tour.secretTour ? 'admin-row--hidden' : '')
                      td(data-label='Image')
                        img.admin-table__img(src=`/img/tours/${tour.imageCover}` alt=tour.name)
                      td(data-label='Name')
                        a.admin-table__name-link(href=`/tour/${tour.slug}`)= tour.name
                      td(data-label='Price') $#{tour.price}
                      td(data-label='Difficulty')
                        span(class=`card__badge card__badge--${tour.difficulty}`)= tour.difficulty
                      td(data-label='Rating')= tour.ratingsAverage
                      td.admin-table__actions
                        button.admin-icon-btn.admin-icon-btn--toggle(
                          data-id=`${tour._id}`
                          data-resource='tours'
                          data-action='toggle'
                          data-field='secretTour'
                          data-value=`${tour.secretTour}`
                          title=tour.secretTour ? 'Unhide tour' : 'Hide tour'
                          aria-label=tour.secretTour ? 'Unhide tour' : 'Hide tour'
                        )
                          svg(aria-hidden='true')
                            use(xlink:href=`/img/icons.svg#icon-eye${tour.secretTour ? '-off' : ''}`)
                        button.admin-icon-btn.admin-icon-btn--delete(
                          data-id=`${tour._id}`
                          data-resource='tours'
                          data-action='delete'
                          title='Delete tour'
                          aria-label='Delete tour'
                        )
                          svg(aria-hidden='true')
                            use(xlink:href='/img/icons.svg#icon-trash-2')
